<div class="rules">
  <h2>Pig Game <strong>awesome dice game</strong></h2>
  <h3>Rules</h3>

  <h3>Players</h3>
  <div>
   Awesome 2 player game.
  </div>

  <h3>Goal</h3>
  <div>
    Be the first player to reach winning score.
  </div>

  <h3>Gameplay</h3>
  <div>
     On a turn, a player rolls the die repeatedly until either:
     <ul>
       <li>1 is rolled</li>
       <li>The player chooses to hold (stop rolling)</li>
     </ul>

     <div>If a 1 is rolled, that player's turn ends and no points are earned.</div>
     <div>If the player chooses to hold, all of the points rolled during that turn are added to his or her score.</div>
  </div>

  <h3>Scoring Examples</h3>
  <div>
    <div>Example 1:</div>
    <div>
      Sherri rolls a 3 and decides to continue. She then chooses to roll seven more times (6, 6, 6, 4, 5, 6, 1). Because she rolled a 1, Sherri's turn ends and she earns 0 points.
    </div>
    <br/>
    <div>Example 2:</div>
    <div>
      Craig rolls a 6 and decides to continue. He then chooses to roll four more times (3, 4, 2, 6) and decides to hold. Craig earns 21 points for this turn (6+3+4+2+6=21).
    </div>
    <br/>
    <div>
      Game End When a player reaches a total of 100 or more points, the game ends and that player is the winner.
    </div>
  </div>

</div>
