<div class=" game-play wrapper clearfix">
    <app-dialog-container
      *ngIf="openDialog"
      (onDialogClosed)="onDialogClosed()">
    </app-dialog-container>
    <div class="player-0-panel"
      [ngClass]="this.provideClasses(0)">
      <div>
        <div class="winner-caption" *ngIf="winnerId == 0">WINNER</div>
        <div class="player-name" id="name-0">{{player[0].name | shortName}}</div>
      </div>
      <div class="player-score" id="score-0">{{playersScore.p0}}</div>
      <div class="player-current-box">
        <div class="player-current-label">Current</div>
        <div class="player-current-score" id="current-0">{{poolScore.p0}}</div>
      </div>
    </div>


    <div class="player-1-panel" [ngClass]="this.provideClasses(1)">
      <div class="winner-caption" *ngIf="winnerId == 1">WINNER</div>
      <div class="player-name" id="name-1">{{player[1].name}}</div>
      <div class="player-score" id="score-1">{{playersScore.p1}}</div>
      <div class="player-current-box">
        <div class="player-current-label">Current</div>
        <div class="player-current-score" id="current-1">{{poolScore.p1}}</div>
      </div>
    </div>


    <button class="btn-new" (click)="onGameInit()">
      <i class="ion-ios-plus-outline"></i>New game
    </button>
    <button
      [disabled]="vsAI && activePlayerId == 1"
      class="btn-roll"
      *ngIf="isGameStarted"
      (click)="onDiceRoll()">
      <i class="ion-ios-loop"></i>Roll dice
    </button>
    <button
      [disabled]="vsAI && activePlayerId == 1"
      class="btn-hold"
      *ngIf="isGameStarted"
      (click)="onScoreHold()">
      <i class="ion-ios-download-outline"></i>Hold
    </button>
    <input
      (keyup)="onSetScore()"
      [disabled]="isGameStarted"
      #winScoreInput
      class="win-score" type="number" placeholder="Set Win Score">

    <img
      autofocus
      *ngIf="isGameStarted"
      src="assets/images/dice-{{diceScore}}.png" alt="Dice" class="dice">

</div>